.uk-container-center.uk-width-large-1-1.lane{:style => "background-color: #FFF;"}
  %h1 Отправка показаний счетчиков
  .uk-alert{"data-uk-alert"=>""}
    %a.uk-alert-close.uk-close
    %p
      %div
        На этой странице вы можете ввести показания счетчиков и передать их по ранее определенным каналам передачи.
        Для этого:
        %ul
          %li Введите показания в форме, расположенной рядом с названием счетчика
          %li
            %div
              Протестируйте, отправляемое сообщение, с помошью кнопки
              %code тест
          %li Отправьте показания счетчиков в необходимый
  -@environment.each_with_index do |(h,v), i|
    .uk-placeholder{:style=>"background: rgba(250, 250, 250, 0.90);"}
      #home
        //.uk-cover-background{:style=>"background-image: url('/img/house.png'); min-height: 200px; margin: 50px;"}
        //%img.uk-invisible{:src=>"", :width=>"", :height=>"", :alt=>""}
        %h2 Помещение #{i+1}
        #home
          %dl.uk-description-list-horizontal
            %dt Наименование
            %dd #{h.title}
            %dt Адрес
            %dd #{h.address}
        .uk-grid
          .uk-width-large-1-2
            #counters
              %table.uk-width-1-1
                %thead
                  %tr
                    %th{:width=>"50%"} Счетчик
                    %th{:width=>"50%"}
                      Показания за
                      =Russian::strftime(DateTime.now, "%B")
                -@environment[h][:counters].each_with_index do |c, ci|
                  %tr
                    //.uk-placeholder{:style=>"background: rgba(250, 250, 250, 0.90); padding: 20px;"}
                    %td{:style=>"padding: 5px;"}
                      .uk-badge
                        #{c.title} (#{c.typestr})
                      //%img{:src=>'/img/meter.png', :width=>32, :hight=>32}
                    %td{:style=>"padding: 5px;"}
                      %text.countervalue{"data-pk"=>ci+1, "data-url"=>"/home/#{i+1}/counter/#{ci+1}/setvalue"}
                        #{c.currentindication}
          .uk-width-large-1-2
            #channels
              %table.uk-width-1-1
                %thead
                  %tr
                    %th.uk-text-center{:width=>"50%"} Канал передачи
                    %th.uk-text-center{:width=>"50%"} Действие
                  -@environment[h][:channels].each_with_index do |ch, chi|
                    %tr
                      %td{:style=>"padding: 5px;"}
                        .uk-badge.uk-badge-success #{ch.title}
                      %td{:style=>"padding: 5px;"}
                        .uk-text-center
                          %a.checkpattern.uk-button.uk-button{:id=>"checkpattern#{ch.id}"}
                            Тест
                          %a.sendpattern.uk-button.uk-button-primary{:id=>"sendpattern#{ch.id}"}
                            Отправить
        %h2 История показаний
        .uk-grid
          .uk-width-1-1
            %indication{:index=>"#{i}"}
              %table.hist.uk-width-1-1#hist
                %thead
                  %tr
                    %th{:width=>"25%"} Счетчик
                    %th{:width=>"25%"} Период
                    %th{:width=>"25%"} Показания
                    %th{:width=>"25%"} Передано
                -@environment[h][:counters].each do |c|
                  -if c.allindications.count > 0
                    -@err = 0
                  -c.allindications.each do |ind|
                    %tr
                      %td{:style=>"padding: 5px;"}
                        .uk-badge
                          #{c.title} (#{c.typestr})
                      %td{:style=>"padding: 5px;"}
                        #{Russian::strftime(ind.period, "%B %Y")}
                      %td{:style=>"padding: 5px;"}
                        #{ind.value}
                      %td{:style=>"padding: 5px;"}
                        -if ind.submited
                          .uk-badge.uk-alert-succes
                            Да
                        -else
                          .uk-badge.uk-alert-warning
                            Нет
                -if @err != 0
                  %tr
                    %td{:colspan=>4}
                      .uk-alert.uk-alert-warning{"data-uk-alert"=>""}
                        %a.uk-alert-close.uk-close
                        %p
                          %div
                            Нет показаний
              -#
                %table#hist1.uk-width-1-1
                %thead
                  %tr
                    %th{:width=>"25%"} Счетчик
                    %th{:width=>"25%"} Период
                    %th{:width=>"25%"} Показания
                    %th{:width=>"25%"} Передано
#patterntestmodal.uk-modal
  .uk-modal-dialog.uk-modal-dialog-slide
    %a.uk-modal-close.uk-close
    %h2 Тест шаблона
    %p
      %div
        Ниже находится пример сообщения, сформированного по вашему шаблону. Показния счетчиков, которые еще не определены, заменены на
        %code ##
    %pre
      %code
        #patterntestresult

:javascript
  $(function() {

    $.fn.editable.defaults.mode = 'inline';

    $('.countervalue').editable({
      type: 'text',
      emptytext: 'показания не введены',
      send: 'always',
      highlight: '#40e0d0',
      error: function(response, newValue) {
        if(response.status === 500) {
          return 'Сервис временно недоступен, пожалуйста повторте попытку позже.';
        }
      },
      success: function(response, newValue) {
        if(!response.success) {
          return response.msg
        } else {
          displaynotify(response.msg);
        } 
      }
    });

    $('.checkpattern').click(function() {
      var id = ($(this).attr('id')).match(/\d+$/);
      var modal = $.UIkit.modal("#patterntestmodal");
      $.ajax({
        type: "POST",
        dataType: "text",
        url: "/ajax/testpattern2",
        data: "channelid=" + id,
        success: function(reply_text) {
          //alert(reply_text);
          $("#patterntestresult").html(reply_text);
          modal.show();
        }
      });
    });

    $('.sendpattern').click(function() {
      var id = ($(this).attr('id')).match(/\d+$/);
      $.ajax({
        type: "POST",
        dataType: "json",
        url: "/sendpattern",
        data: "channelid=" + id,
        success: function(response) {
          if(!response.success) {
            displaynotify("Ошибка отправки показаний, повторите попытку");
          } else {
            displaynotify(response.msg);
          } 
        }
      });
    });


  });

  $(document).ready(function() {
    if ($('#hist').length) {
      $('table.hist').DataTable({
        language: {
          "sProcessing":   "Подождите...",
          "sLengthMenu":   "Показать _MENU_ записей",
          "sZeroRecords":  "Записи отсутствуют.",
          "sInfo":         "Записи с _START_ до _END_ из _TOTAL_ записей",
          "sInfoEmpty":    "Записи с 0 до 0 из 0 записей",
          "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
          "sInfoPostFix":  "",
          "sSearch":       "Поиск:",
          "sUrl":          "",
          "oPaginate": {
              "sFirst": "Первая",
              "sPrevious": "Предыдущая",
              "sNext": "Следующая",
              "sLast": "Последняя"
          },
          "oAria": {
              "sSortAscending":  ": активировать для сортировки столбца по возрастанию",
              "sSortDescending": ": активировать для сортировки столбцов по убыванию"
          }
        },
        "columnDefs": [
          { "visible": false, "targets": 1 }
        ],
        "drawCallback": function ( settings ) {
          var api = this.api();
          var rows = api.rows( {page:'current'} ).nodes();
          var last=null;
 
          api.column(1, {page:'current'} ).data().each( function ( group, i ) {
            if ( last !== group ) {
              $(rows).eq( i ).before(
                '<tr class="group"><td colspan="3">'+group+'</td></tr>'
              );
 
              last = group;
            }
          });
        }
      });
    }
    /*
    $('#hist1').DataTable({
      language: {
        "sProcessing":   "Подождите...",
        "sLengthMenu":   "Показать _MENU_ записей",
        "sZeroRecords":  "Записи отсутствуют.",
        "sInfo":         "Записи с _START_ до _END_ из _TOTAL_ записей",
        "sInfoEmpty":    "Записи с 0 до 0 из 0 записей",
        "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
        "sInfoPostFix":  "",
        "sSearch":       "Поиск:",
        "sUrl":          "",
        "oPaginate": {
            "sFirst": "Первая",
            "sPrevious": "Предыдущая",
            "sNext": "Следующая",
            "sLast": "Последняя"
        },
        "oAria": {
            "sSortAscending":  ": активировать для сортировки столбца по возрастанию",
            "sSortDescending": ": активировать для сортировки столбцов по убыванию"
        }
      },
      ajax: {
         url	: "/ajax/hist",
         type	: "POST,
         data	: function ( d ) {
           d.counter = "myValue";
           // d.custom = $('#myInput').val();
           // etc
         }
      }
    });
    */      
  });