.lane{:style=>"background-color: #FFF"}
  %h1 Редактирование шаблона сообщения
  %form#channelform.uk-form{:action => "/home/#{@home_index}/channel/#{@channel_index}/updatepattern", :method=>"post"}
    .uk-container-center.uk-width-xlarge-2-3
      .uk-grid
        .uk-width-2-3
          .uk-panel.uk-panel-box.uk-panel-box-secondary
            .uk-placeholder{:id=>"channel"}
              .uk-form-row{:style=>"margin-bottom: 20px;"}
                %label{:for=>"channelpattern"} Шаблон:
                %p= find_and_preserve "<textarea class='uk-width-1-1' id='channelpattern' name='channelpattern' rows='6' type='text'>#{@channelpattern}</textarea>"
                //%textarea#channelpattern.uk-width-1-1{:type=>"text", :name=>"channelpattern", :rows=>"6"}
                //#{@channelpattern}
                %br
                %label.error.uk-text-small.uk-text-danger{:for=>"channelpattern"}
                .uk-text-center.uk-margin-top
                  %button.uk-button.uk-button{:type=>"reset"}
                    Сбросить изменения
                  %a.checkpattern.uk-button{:href=>"#", :id=>"checkpattern"}
                    Тест
                  %button.uk-button.uk-button-primary#finish{:type=>"submit"}
                    Сохранить
        .uk-width-1-3
          .uk-panel.uk-panel-box.uk-panel-box-secondary.uk-margin-bottom{"data-uk-sticky" => "{top:50, bottom:590}", :style=>"z-index: 1;"}
            -patternpanel
        
#patterntestmodal.uk-modal
  .uk-modal-dialog.uk-modal-dialog-slide
    %a.uk-modal-close.uk-close
    %h2 Тест шаблона
    %p
      %div
        Ниже находится пример сообщения, сформированного по вашему шаблону. Разумеется, вместо
        %code ##
        будут ваши реальные показания счетчиков, которые вы введете перед отправкой сообщения.
    %pre
      %code
        #patterntestresult
        
:javascript
  
  $(function() {
    initDroppable($("#channelpattern"));
    
    $.validator.addMethod("patternRequired", $.validator.methods.required, "Введите шаблон");
    $.validator.addMethod("patternMaxlength", $.validator.methods.maxlength, $.format("Название должно быть менее {0} символов"));

    $.validator.addClassRules({
      channelpattern: {
        patternRequired: true,
        patternMaxlength: 65535
      }
    });

    $('#channelform').validate();

    $(".draggable").draggable({
      appendTo: "body",
      opacity: 0.7,
      helper: "clone",
      cursor: "move",
      revert: "invalid"
    });

    function initDroppable($elements) {
      $elements.droppable({
        hoverClass: "textarea",
        accept: ":not(.ui-sortable-helper)",
        drop: function(event, ui) {
          var $this = $(this);
          var tempid = ui.draggable.text().trim();
          var dropText;
          dropText = "{"+tempid+"} ";
          var droparea = document.getElementById($this.attr("id"));
          var range1 = droparea.selectionStart;
          var range2 = droparea.selectionEnd;
          var val = droparea.value;
          var str1 = val.substring(0, range1);
          var str3 = val.substring(range1, val.length);
         droparea.value = str1 + dropText + str3;
        }
      });
    }
    
    $(document.body).on("click", ".checkpattern", function() {
      var data = $('#channelpattern').val();
      var modal = $.UIkit.modal("#patterntestmodal");
      $.ajax({
        type: "POST",
        dataType: "text",
        url: "/ajax/testpattern",
        data: "pattern=" + data,
        success: function(reply_text) {
          //alert(reply_text);
          $("#patterntestresult").html(reply_text);
          modal.show();
        }
      });
    })
  });